<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mines.csci498.bwisdom.lunchlist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/zoidberg"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DetailForm"></activity>
        <activity android:name="EditPreferences"></activity>
        <activity android:name="FeedActivity"></activity>
        <service android:name="FeedService"></service>
        <uses-library android:required="true" android:name="com.google.android.maps"/>
        <activity android:name="RestaurantMap"></activity>
        <receiver android:enabled="false" android:name="OnBootReceiver"></receiver>
    </application>

</manifest>